<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhBtgcM21gwgtv6QWZtcOSURnjgDlj__Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1040221399084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elysium</string>
	<key>PROJECT_ID</key>
	<string>elysium-xr7aa</string>
	<key>STORAGE_BUCKET</key>
	<string>elysium-xr7aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040221399084:ios:9a5f03fc7622efbaa28989</string>
</dict>
</plist>